@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 16px;
}


header {

    height: 60rem;
    width: 100%;
    background-image: url(img/illustrationOpacity.png);
    background-size: cover;

    background-color: #1A1C37;
}


.toggle {
    display: none;
    font-size: 1.5rem;
}

nav {

    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {

    display: block;
    color: #fff;
    text-decoration: none;
    height: 3rem;

}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li {
    margin-left: 4rem;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.9em;
}

.btn {
    border: 0;
    background: #408aeb;
    color: rebeccapurple;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}







.boutonPopup2 {



    font-family: 'Montserrat', sans-serif;
    font-weight: 500;



    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;


    padding: 1rem 3.5rem;
    border-radius: 10px;
    background-color: #408aeb;

    border: 0;
    width: 200px;

    box-shadow: -1px 26px 24px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -1px 26px 24px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 26px 24px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.boutonPopup2:hover {
    background-color: gainsboro;

}

.overlay2 {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(26, 28, 55, 0.8);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;

}

.popup2 {

    margin: 20% auto;
    width: 40%;
    height: 30%;
    background-color: #1A1C37;
    border-radius: 5px;
    /* box-shadow: 15px 20px 0 rgb(0, 0, 0); */
    box-shadow: -1px 2px 46px 15px rgba(7, 7, 14, 0.787);

    padding: 1em;
}

.btnClose2 {

    float: right;
    cursor: pointer;


}

.titrePopup2 {

    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5em;

}


#formulaire2 {

    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 1rem 0;
}


#name2 {

    height: 2rem;
    width: 40%;
    border-radius: 5px;
    border: 1px solid hsl(236, 100%, 61%);
    margin-top: 30px;
    margin-left: 30px;
    background-color: transparent;
    padding-left: 10px;
}

.boutonPopupInscrire2 {

    border: 0;
    background: #408aeb;
    color: rebeccapurple;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.checked2 {

    margin: 20px;
    color: white;


}


.checked2 label {

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.em;

}

.checked2 a {

    color: white;


}

input {

    border: 10px solid #696a79;

}















.jouerMaintenant {


    background-color: rgb(16, 128, 255);
    width: 100%;

    padding: 0.8rem 1rem;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;

}

.flexHead {

    display: flex;
    flex-direction: column;
    padding-top: 10%;
    height: 5%;

}


h1 {

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4.3em;
    color: white;
    text-align: center;
    margin-bottom: 0.5rem;

}

.sousTitre {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: white;
    text-align: center;
    margin-bottom: 2rem;


}


.boutonHeader {

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: white;

    border: 0;

    text-decoration: none;

    text-decoration: none;
    color: #40eba7;
    border: 1.5px solid #40eba7;
    padding: 1.4rem 3.5rem;
    border-radius: 10px;


    background-color: Transparent;
    backdrop-filter: blur(15px);

}

.boutonHeader a {

    text-decoration: none;
    color: #40eba7
}

.btn-accueil {

    text-align: center;
    margin-top: 4rem;

}

.troisCarreHead {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    width: 100%;



}

.premierC {

    width: 6.5%;
    height: 96%;
    background-color: #1A1C37;
    border-radius: 10px;
    


}

.manette {


    width: 55%;
    margin-left: 23%;
    margin-top: 15%;

}

.petitText {

    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.8em;

}

.deuxiemeCarre {

    width: 7.5%;
    height: 115%;
    background-color: #1A1C37;
    border-radius: 10px;
    margin-left: 4%;


}

.trophe {


    width: 55%;
    margin-left: 22%;
    margin-top: 19%;


}

.textCentre {

    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.9em;
    margin-top: 5%;

}

.troisiemeCarre {

    width: 6.5%;
    height: 96%;
    background-color: #1A1C37;
    border-radius: 10px;
    margin-left: 4%;


}

.cadeau {

    width: 43%;
    margin-left: 29%;
    margin-top: 15%;

}


.textDroit {

    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.9em;
    margin-top: 10%;

}




.main {

    height: 60rem;
    width: 100%;

    margin-top: -0.6%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 70%, #1A1C37 100%);

    background-color: #1a1c37;
    z-index: 1;
    box-shadow: 0px -100px 90px #1A1C37;
    position: relative;
}




.flecheHaut {

    filter: invert(1);
    margin-left: 48.7%;
    position: absolute;
    bottom: 0.1rem;
z-index: 100;

    animation-duration: 2s;
    animation-iteration-count: infinite;
}


.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}


.textMain{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;



}

.textMiddle1 {

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    color: white;
    padding-top: 9%;
   
}

.textMiddle2 {

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    color: white;

}

.flexJeu {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5% 25%;


}

.carre1 {

    width: 16%;
    height: 17vh;

    border-radius: 10px;
    box-shadow: -1px 26px 24px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -1px 26px 24px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 26px 24px 0px rgba(0, 0, 0, 0.2);


}



.rocket {


    height: 100%;

    object-fit: cover;
    border-radius: 10px;


}

.carre2 {

    width: 16%;
    height: 17vh;

    border-radius: 10px;
    margin-left: 2%;
    box-shadow: -1px 26px 24px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -1px 26px 24px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 26px 24px 0px rgba(0, 0, 0, 0.2);
}

.coldWar {

    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.carre3 {

    width: 16%;
    height: 17vh;

    border-radius: 10px;
    margin-left: 2%;
    box-shadow: -1px 26px 24px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -1px 26px 24px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 26px 24px 0px rgba(0, 0, 0, 0.2);
}

.fifa {

    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.carre4 {

    width: 16%;
    height: 17vh;

    border-radius: 10px;
    margin-left: 2%;
    box-shadow: -1px 26px 24px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -1px 26px 24px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 26px 24px 0px rgba(0, 0, 0, 0.2);
}

.fortnite {

    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.textBas {

    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1em;
    padding-top: 3%;

}

.date {

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2em;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0.5%;

}

.sous-Text {

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    margin-left: 47.8%;

}




.flecheBasInt {

    width: 25px;
    margin-left: 13%;
    color: white;
}

.btn-Inscrire {

    border-radius: 10px;
    border: none;


}




.inscrire {

    margin-left: 25%;
    margin-top: 5%;
    width: 50%;
    text-align: center;
    padding-top: 0.3%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.int-Inscrire {

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;


 
   color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
   justify-content: center;
    text-decoration: none;

   
    padding: 1rem 3.5rem;
    border-radius: 10px;
    background-color: #408aeb;
    
    
    width: 200px;

    box-shadow: -1px 26px 24px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: -1px 26px 24px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 26px 24px 0px rgba(0,0,0,0.2);
}


/* TOOLTIP */
.tooltip {
    display: inline-block;
    position: relative;
    left: 50rem;
    top: 1rem;
    width: 15rem;
}


/* TOOLTIP - Button */
.tooltip-btn {
    font-weight: bold;

    color: #ffffff;
}



.titre-Pop {

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.3em;

}

.sous-TitrePop {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.9em;



}

.flex-pop {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10rem;


}

.flex-In {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    height: 100%;

}


.imageManettePop {

    height: 3rem;
    margin-top: 5rem;

}

.textImage1 {

    margin-top: 90px;
    padding-left: 10px;


}



.textImage2 {

    margin-top: 75px;
    padding-left: 10px;
}


/* TOOLTIP - Content */
.tooltip-content {
    position: absolute;
    left: 36%;
    bottom: 100%;
    margin: 5px 0 0 -150px;
    margin-bottom: 0;
    padding: 10px;
    width: 28rem;

    background: #408aeb;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: 0.5s;
    opacity: 0;
    padding: 10%;

}

.tooltip-content:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 10px;
}

.tooltip-content:after {
    content: "";
    display: block;
    position: absolute;
    border-top: 8px solid #408aeb;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    left: 50%;
    top: 100%;
    margin-left: -8px;

}


.tooltip-btn:hover~.tooltip-content,
.tooltip-btn:focus~.tooltip-content {
    z-index: 10;
    margin-bottom: 8px;
    opacity: 1;
    filter: alpha(opacity=100);
}



































.rond {

    width: 20px;
    height: 20px;
    border: 2.5px solid #a9343d;
    border-radius: 100%;
    position: absolute;
    bottom: 84%;
    left: 23%;


}

.triangle {

    height: 4.5%;
    position: absolute;
    top: 35%;
    left: 10%;
    transform: rotate(-30deg);

}

.rond2 {


    width: 25px;
    height: 25px;
    border: 2.5px solid #40eba7;
    border-radius: 100%;
    position: absolute;
    bottom: 30%;
    left: 1%;


}




.carreBas {

    width: 20px;
    height: 20px;
    border: 2px solid #2e67ca;
    position: absolute;
    left: 37%;
    bottom: 10%;
    transform: rotate(20deg);


}




.carreBas2 {

    width: 30px;
    height: 30px;
    border: 2px solid #40eba7;
    position: absolute;
    left: 80%;
    top: 25%;
    transform: rotate(20deg);
}


.rond3 {

    width: 25px;
    height: 25px;
    border: 2.5px solid #2e67ca;
    border-radius: 100%;
    position: absolute;
    bottom: 29%;
    left: 95%;



}

.triangle2 {

    height: 4.5%;
    position: absolute;
    bottom: 10%;
    left: 72%;
    transform: rotate(-30deg);

}


.event {

    height: 57rem;
    background-color: #1A1C37;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}




.titreOctober {

    padding-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 2.8em;
    color: white;
    text-transform: capitalize;
    text-align: center;

}

.iconText {

    height: 5.5%;
    position: relative;
    left: 15.5rem;
    bottom: 3rem;
    object-fit: cover;
}

.october h3 {



    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    color: white;
    margin-bottom: 20px;
    text-align: center;

}


.gamer {


    width: 77%;
    object-fit: cover;

}

.marque {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: #1A1C37;


}

.october h4 {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: rgba(177, 177, 177, 0.712);


}


.event {
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 100%;



}


.marque1 {

    height: 50%;
    object-fit: cover;
    margin-left: 4%;
    transform: translateY(-30%);
}

.marque2 {

    height: 65%;
    object-fit: cover;
    margin-left: 9.5%;
    transform: translateY(-38%);
}


.formes {

    width: 50%;
    height: 10%;
    position: relative;
}

.rond001 {

    width: 25px;
    height: 25px;
    border: 2.5px solid #2e67ca;
    border-radius: 100%;
    position: absolute;
    right: 88.5rem;
    top: 20rem;



}

.triangle001 {
    position: relative;
    top: 45rem;
    right: 5rem;
    transform: rotate(30deg);
}

.rond002 {

    width: 25px;
    height: 25px;
    border: 2.5px solid #40eba7;
    border-radius: 100%;
    position: relative;
    left: 145%;
    top: 200px;


}

.carre001 {

    width: 20px;
    height: 20px;
    border: 2px solid #2e67ca;
    position: absolute;
    top: 45rem;
    left: 67rem;
    transform: rotate(20deg);
}





/* 
.inscrire3 {

    margin-top: 5%;
  
    text-align: center;
    padding-top: 0.3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
display: none;
}




.boutonPopup3 {



    font-family: 'Montserrat', sans-serif;
    font-weight: 500;



    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;


    padding: 1rem 3.5rem;
    border-radius: 10px;
    background-color: #408aeb;

    border: 0;
    width: 200px;

    box-shadow: -1px 26px 24px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -1px 26px 24px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 26px 24px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.boutonPopup3:hover {
    background-color: gainsboro;

}

.overlay3 {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(26, 28, 55, 0.8);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;

}

.popup3 {

    margin: 20% auto;
    width: 60%;
    height: 35%;
    background-color: #1A1C37;
    border-radius: 5px;
    /* box-shadow: 15px 20px 0 rgb(0, 0, 0); 
    box-shadow: -1px 2px 46px 15px rgba(7, 7, 14, 0.787);

    padding: 1em;
}

.btnClose3 {

    float: right;
    cursor: pointer;


}

.titrePopup3 {

    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
margin-top: 4rem;

}


#formulaire3{

    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 3rem 0;
}


#name {

    height: 2rem;
    width: 40%;
    border-radius: 5px;
    border: 1px solid hsl(236, 100%, 61%);
    margin-top: 30px;
    margin-left: 30px;
    background-color: transparent;
    padding-left: 10px;
}


#age {

    height: 2rem;
    width: 40%;
    border-radius: 5px;
    border: 1px solid hsl(236, 100%, 61%);
    margin-top: 30px;
    margin-left: 30px;
    background-color: transparent;
    padding-left: 10px;
}


#code {

    height: 2rem;
    width: 40%;
    border-radius: 5px;
    border: 1px solid hsl(236, 100%, 61%);
    margin-top: 30px;
    margin-left: 30px;
    background-color: transparent;
    padding-left: 10px;
}


#mail {

    height: 2rem;
    width: 40%;
    border-radius: 5px;
    border: 1px solid hsl(236, 100%, 61%);
    margin-top: 30px;
    margin-left: 30px;
    background-color: transparent;
    padding-left: 10px;
}

.boutonPopupInscrire3 {

    border: 0;
    background: #408aeb;
    color: rebeccapurple;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 7rem;
}

.checked3 {

    margin: 20px;
    color: white;


}


.checked3 label {

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.9em;

}

.checked3 a {

    color: white;


}

input {

    border: 10px solid #696a79;

} */


span{

 color: white;   
 font-size: 1.8em;
 font-family: 'Montserrat', sans-serif;
 font-weight: 500;
 
}






.derniereSect {

    height: 55rem;
    background-color: #1A1C37;


}

.lastLogo {

    height: 150px;
    margin-top: 100px;
    /* margin-left: 43%;
    margin-top: 4%; */

}

.logoBas {

    display: flex;
    justify-content: center;

}




.lastFlex {

    margin-top: 4%;
    display: flex;
    flex-direction: row;
    width: 100%;

}

.flexText {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;



}


.lastH3 {

    width: 500px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: white;
    margin-left: 35%;
    line-height: 23px;

}


.carte {
    width: 50vw;
    height: 50vh;
    margin-left: 10%;
    display: flex;
    align-items: center;

}

.imageCarte{

height: 100%;


}

footer {

    background-color: #080a25;


}

footer ul {

    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 2%;



}

footer li {

    list-style: none;
    margin-left: 2%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

footer li a {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: rgb(255, 255, 255);


}

footer h3 {

    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    color: rgb(255, 255, 255);
    padding-top: 0.7%;
    padding-bottom: 1%;
}

















@media all and (max-width: 1024px) {

    /* Header */
    .toggle {
        display: block;
        color: #fff;
    }

    nav {
        flex-wrap: wrap;
    }

    .menu {
        width: 100%;
        flex-direction: column-reverse;
        display: none;
      
    }

    .open .menu {
        display: flex;
    }

    .menu li {
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .fermer {
        display: none;
    }

    .ouvrir {
        display: block;
    }

    .open .fermer {
        display: block;
    }

    .open .ouvrir {
        display: none;
    }

}

@media (max-width: 1525px) {

    .carre001 {

        display: none;

    }


}

@media (max-width: 1389px) {


    .marque {


        width: 40%;

    }



}


@media (max-width: 768px) {

    h1 {

        font-size: 2.5em;


    }


    .sousTitre {}



















    .lastH3 {

        font-size: 0.8em;
        width: 100%;

    }



    .imageCarte {



        height: 23.5rem;


    }



}


    /* FAIRE LE RESPONSIVE DU SITE  */

    /*Ipad -------------------*/
    @media (max-width: 1024px) {

header{

background-position: center;

}

        h1 {

            font-size: 3.5em;

        }

.sousTitre{

font-size: 1em;


}

.boutonHeader{

 padding: 1rem 2rem ;


}

.troisCarreHead{

margin-top: 14%;

}


.premierC{

width: 8rem;
height: 8rem;

}

.deuxiemeCarre{

width: 9rem;
height: 9rem;


}

.troisiemeCarre{


    width: 8rem;
    height: 8rem;

}

.flecheHaut{

top: 52.8rem;    



}

.main{

height: 45rem;



}


.flexJeu{

margin: 5% 11%;




}


.carre1{


width: 150px;
height: 150px;


}


        .tooltip-content {

            width: 10rem;


        }


        .tooltip{

width: 13rem;
 left: 23rem;



        }

.sous-Text{

margin-left: none ;



}        

.event h2{

font-size: 2em;

}

.event h3{

font-size: 1em ;
position: relative;
top: -20px;


}

/* .inscrire3{

display: block;


}   */

.cancer{

left: 11.5rem;
bottom: 2.3rem;



}


.derniereSect{

height: 79rem ;


}

.lastLogo{

height: 126px ;


}


.lastFlex{

flex-direction: column-reverse;
align-items: center;


}


.carte{

height:33vh;

margin-left: 0%;


}

.lastH3{

margin-left: 0%;
margin-top: 4rem;

}


footer{

height: 35rem;



}

footer h3{

    padding-top: 1.7%;


}

    }



/* IPHONE --------------------------*/

    @media (max-width: 1024px) {










    }